<section class="gallery-component">
  <h2>images:</h2>
  <!-- Image Gallery -->
  <!-- <div class="gallery" v-masonry transition-duration="0.3s" item-selector=".item" gutter="8" >
    <div v-masonry-tile class="item">
      <a href="https://images.unsplash.com/photo-1591344218495-c7370725593d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" target="_blank">
        <img src="https://images.unsplash.com/photo-1591344218495-c7370725593d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
      </a>
    </div>
    <div v-masonry-tile class="item">
      <a href="https://images.unsplash.com/photo-1591340448449-6e15188f0e37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" target="_blank">
        <img src="https://images.unsplash.com/photo-1591340448449-6e15188f0e37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" />
      </a>
    </div>
    <div v-masonry-tile class="item">
      <img src="https://images.unsplash.com/photo-1591363713259-cb58950f3618?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80" />
    </div>
    <div v-masonry-tile class="item">
      <img src="https://images.unsplash.com/photo-1580285750993-4f9d8a71be7c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" />
    </div>
    <div v-masonry-tile class="item">
      <img src="https://images.unsplash.com/photo-1588615419966-0c0f3bb797b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
    </div>
    <div v-masonry-tile class="item">
      <img src="https://images.unsplash.com/photo-1591344218495-c7370725593d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
    </div>
    <div v-masonry-tile class="item">
      <img src="https://images.unsplash.com/photo-1591340448449-6e15188f0e37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" />
    </div>
    <div v-masonry-tile class="item">
      <img src="https://images.unsplash.com/photo-1591363713259-cb58950f3618?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80" />
    </div>
    <div v-masonry-tile class="item">
      <img src="https://images.unsplash.com/photo-1580285750993-4f9d8a71be7c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" />
    </div>
  </div> -->
  <!-- Not Found Case -->
  <div class="container-404">
    <h1 class="special">
      <span class="icon">😔</span>
      no images found
    </h1>
  </div>
</section>
