<section class="search-box-component">
  <input
    class="search-box"
    type="text"
    placeholder="search breeds"
    @input="searchBreeds"
    v-model="searchTerm" />
  <ul class="suggestions" v-if="searchTerm">
    <!-- add v-if here and loop throguh suggestions between see all and this element -->
    <li v-for="result in searchResults">
      <a class="searchLink" :href="`/breeds/${result}`" v-html="formatSearchResult(result)"></a>
    </li>
    <li v-if="searchResults.length">
      <a :href="`/search?term=${searchTerm}`">see all results >></a>
    </li>
    <li v-if="searchResults.length === 0">No results Found 😔!</li>
  </ul>
</section>
