<section class="search-view">
  <h1>search results for “a”</h1>

  <div class="results">
    <ul>
      <li>
        <a href="/breed/african">
          <span>a</span>frican
        </a>
      </li>
      <li>
        <a href="/breed/african">
          <span>a</span>frican
        </a>
      </li>
      <li>
        <a href="/breed/african">
          <span>a</span>frican
        </a>
      </li>
      <li>
        <a href="/breed/african">
          <span>a</span>frican
        </a>
      </li>
      <li>
        <a href="/breed/african">
          <span>a</span>frican
        </a>
      </li>
      <li>
        <a href="/breed/african">
          <span>a</span>frican
        </a>
      </li>
      <li>
        <a href="/breed/african">
          <span>a</span>frican
        </a>
      </li>
      <li>
        <a href="/breed/african">
          <span>a</span>frican
        </a>
      </li>
      <li>
        <a href="/breed/african">
          <span>a</span>frican
        </a>
      </li>
    </ul>
  </div>
</section>
