.home-view {
  text-align: center;
  margin-top: 60px;

  h1 {
    span {
      display: block;
      font-size: 225px;
      text-shadow: 0 4px 16px rgba(#000, 0.25);
      margin-bottom: -24px;
    }
    font-size: 64px;
  }
}
