<section class="about-view">
  <h1 class="special">
    <span class="icon">🐶</span>
    about this website
  </h1>
  <p>
    This website is created by <a href="https://github.com/harshPPatel/" target="_blank">harshPPatel</a>.
    I have created this project while trying out the typescript. This website is powered by open source <a href="https://dog.ceo/dog-api/" target="_blank">Dogs API</a>.
    This site is also an open source project. You can check out the code for this on GitHub
    <a href="https://github.com/harshPPatel/dog-gram" target="_blank">here</a>.
    <br><br>
    Thank you for visting this site ❤️!
  </p>
</section>
